.container {
  width: 100%;
  padding-left: 20px;
  height: 100%

}

.row {
  width: 100%;
  height: 30px;
  float: left;
  padding-top: 5px;
}

.col {
  width: 15%;
  float: left;

}

.border {
  border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.title {
  padding-top: 3px;
}

.table-title {
  height: 50px;

}

h1 {
  padding-left: 50px;
  font-size: 28px;
  color: black;
  text-align: left;
}

h2 {
  font-size: 18px;
}

