<div class="container">
  <div class="title">
    <h1> Employees </h1>
  </div>
  <div *ngIf="employees.length>0">

    <div class="row table-title">
      <div class="col">
        <h2>First Name</h2>
      </div>
      <div class="col">
        <h2>Last Name</h2>
      </div>
      <div class="col">
        <h2>Phone</h2>
      </div>
      <div class="col">
        <h2>Salary</h2>
      </div>
      <div class="col">
        <h2>Department name</h2>
      </div>
    </div>

    <ng-container>
      <div *ngFor="let emp of employees" class="row">

        <div class="col border">
          {{emp.firstName}}
        </div>
        <div class="col border">
          {{emp.lastName}}
        </div>
        <div class="col border">
          {{emp.phone}}
        </div>
        <div class="col border">
          {{emp.salary}}
        </div>
        <div class="col border">
          {{emp.departmentName}}
        </div>

      </div>
    </ng-container>
  </div>
</div>
