.container {
  width: 100%;
  height: 700px;
  padding-top: 0;
  background-color: whitesmoke;
}

.sidebar {
  background-color: #333333;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  float: left;
}

.content {
  background-color: whitesmoke;
  height: 100%;
  margin-left: 300px;
  top: 0;
  right: 0;

}

.department-list {
  height: 30px;
  width: 100%;
  font-size: 18px;
  color: aliceblue;
  text-align: center;
  padding-top: 5px;
  margin-top: 10px;
}

.info, .title, .delete-button, .add-button:hover {
  cursor: pointer;
}

.department-list:hover {
  background-color: dimgrey;
}

h1 {
  font-size: 28px;
  color: aliceblue;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: aliceblue;
}

.info, .column-title {
  float: left;
  width: 120px;
  text-align: center;
}

.table-title {
  width: 300px;
  height: 50px;
}

.form-group {
  padding-top: 5px;
  padding-left: 70px;
}

.form-control {
  width: 150px;
  height: 20px;
  margin-top: 12px;
}

::placeholder {
  color: dimgray;
  font-size: 18px;
}


