<div class="container">

  <div class="sidebar">
    <div class="title" (click)="loadStartPage()">
      <h1> Departments </h1>
    </div>
    <ng-container class="table">
      <div class="table-title">
        <div class="column-title">
          <h2>Name</h2>
        </div>
        <div class="column-title">
          <h2>Description</h2>
        </div>

      </div>


      <div class="department-list" *ngFor="let department of departments">
        <div class="dis">
          <div class="info" (click)="loadEmployeesInDepartment(department.id)"> {{department.name}}</div>
          <div class="info" (click)="loadEmployeesInDepartment(department.id)"> {{department.description}}</div>
          <div class="delete-button" (click)="removeDepartment(department.id)">
            <img src="../assets/images/remove-button.png" width="30" height="30">
          </div>
        </div>
      </div>
      <div class="department-list add-button" (click)="showAddMenu()">
        Add department
      </div>

    </ng-container>

    <div *ngIf="showMenu">
      <form [formGroup]="departmentForm" (ngSubmit)="addDepartment()">

        <div class="form-group">
          <input formControlName="id"
                 type="text"
                 class="form-control"
                 id="id"
                 placeholder="Id">
        </div>
        <div class="form-group">
          <input formControlName="name"
                 type="text"
                 class="form-control"
                 id="name"
                 placeholder="Name">
        </div>
        <div class="form-group">
          <input formControlName="description"
                 type="text"
                 class="form-control"
                 id="description"
                 placeholder="Description">
        </div>

        <div class="department-list add-button" (click)="addDepartment()">
          Add!
        </div>
      </form>
    </div>

  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

